doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    title Come, and eat
    link(rel="stylesheet" href="css/signupstyle.css" type="text/css" media="all")
    // Style-CSS
    link(rel="stylesheet" href="css/font-awesome.css")
    // Font-Awesome-Icons-CSS
    link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/css/jumbotron.css" rel="stylesheet" type="text/css")
  body
    h1 Log in successfully. 
    h2 Hi #{user.username}! Welcome to join our Come and Eat website!
    a(href = "/search.html" id = "topage_search") Go to search for food!